<!DOCTYPE html>
<html>
<head>
<title><%= @article.title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% stylesheet_link_tag "application" %>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Roboto", "sans-serif"}
</style>
</head>
<body>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
    <!-- Header -->
    <%= render "shared/header" %>

    <div class="body-grid-container">

    <%= render "shared/nav" %> 

    <!-- Body -->
    <%= render partial: "shared/blog_post", locals: {article: @article, summary: false} %>

    </div>

<!-- END w3-content -->

</body>
</html>
