<!DOCTYPE html>
<html>
<head>
<title><%= @article.title %></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% stylesheet_link_tag "application" %>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Roboto", "sans-serif"}
</style>
</head>
<body>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="content" style="max-width:1400px">

    <!-- Header -->
    <header class="small-card header center">
        <div class="card-header">
        <h1><b>Tim Standen</b></h1>
        <p>Welcome to my blog</p>
        </div>
    </header>

    <!-- Body -->
    <div class="large-card">
        <div class="container card-header">
            <h3><b><%= @article.title %></b></h3>
            <h5><span class="w3-opacity"><%= @article.created_at %></span></h5>
        </div>

        <div class="container blog-post">
            <p><%= simple_format @article.body, {}, sanitize: false%></p>
        </div>
    </div>
    <hr>
<!-- END w3-content -->
</div>

</body>
</html>
