<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<% stylesheet_link_tag "application" %>
<style>
body,h1,h2,h3,h4,h5 {font-family: "Roboto", "sans-serif"}
</style>
</head>
<body>

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<!-- Header -->
<%= render "shared/header" %>

<!-- Grid -->
<div class="body-grid-container">

<%= render "shared/nav" %> 

<!-- Blog entries -->
<div class="flex-column">

    <% @articles.each do |article|%>
      <%= render partial: "shared/blog_post", locals: {article: article, summary: true} %>
    <% end %>
<!-- END BLOG ENTRIES -->
</div>

<!-- END GRID -->
</div>

<!-- END w3-content -->

</body>
</html>
