<!-- Introduction menu -->
<nav class="flex-column nav">
  <!-- About Card -->
  <div class="card small-card">
    <div class="card-header">
      <h4><b>About Me</b></h4>
    </div>
    <div>
      <p>This is a place where I post some writings about things that interest me, and experiment with different web design topics</p>
    </div>
  </div><hr>

  <!-- Pokemon Horoscope -->

  <%= render partial: "shared/pokemon_horoscope" %>
  
  <!-- Posts -->
  <div class="card small-card">
    <div class="card-header">
      <h4>Most Recent Posts</h4>
    </div>
    <ul>
      <li>
        <span>Ipsum</span><br>
        <span>Praes tinci sed</span>
      </li> 
      <li>
        <span>Dorum</span><br>
        <span>Ultricies congue</span>
      </li>   
      <li>
        <span>Mingsum</span><br>
        <span>Lorem ipsum dipsum</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="card small-card">
    <div class="card-header">
      <h4>Tags</h4>
    </div>
    <div>
    <p>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</nav>