<div class="card small-card">
    <div class="card-header">
        <h4><b>Your Daily Horoscope</b></h4>
    </div>
    <h1 id="horoscope_title"></h1>
    <img id="horoscope_image"/>
    <div>
        <p id="horoscope_text">Your horoscope for the day is: PENDING -- STILL WAITING FOR THE POKEBALLS TO ALIGN</p>
    </div>
</div><hr>