<div class="card small-card">
    <div class="card-header">
        <h4><b>Your Daily Pokémon Horoscope</b></h4>
    </div>
    <h1 id="horoscope_title"></h1>
    <img id="horoscope_image"/>
    <div>
        <p id="horoscope_text"></p>
    </div>
</div><hr>