:root {
    --border-brown: #c69242;
    --text-brown: #dcb77f;
    --text-off-white: rgb(233, 233, 233);
    --text-blue: rgb(161, 181, 253);
    --background-black: rgba(5, 5, 5, 0.88);
}

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body, h1, h2, h3, h4, h5, header {
    margin: 0
}

.body-grid-container {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    border-bottom: 1px solid var(--border-brown);
    margin: 8px;
}

.card {
    color: var(--text-brown);
    padding: 8px;
    flex: 1;
}

.large-card {
    background-color: var(--background-black);
    margin: 4px;
    border: 2px solid var(--border-brown);
}

.small-card {
    background-color: var(--background-black);
    border: 2px solid #c69242;
}

.card-header {
    padding: 8px;
    border-bottom: 1px solid var(--border-brown);
    color: var(--text-off-white);
}

.blog-post {
    padding: 8px;
}

.large-card > .card-header {
    width: 33%;
}

.w3-opacity,
.w3-hover-opacity:hover {
    opacity: 0.60
}

.custom-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: 2px solid var(--border-brown);
    background-color: inherit;  
    color: var(--text-brown);
}

a:visited,a:link .custom-button {
    color: var(--text-blue)
}

.nav {
    flex: 0 0 240px;
    margin: 4px;
    align-self: flex-start;
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}
