/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box
}

/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    height: 0;
    background-color: rgb(242, 242, 242);
}

body, h1, h2, h3, h4, h5 {
    margin: 0
}

.body-grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 8px;
    margin-right: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 8px;
    text-align: center;
    border-bottom: 1px solid darkgray;
}

.large-card,
.small-card {
    padding: 8px
}

.container {
    padding-left: 8px;
    padding-right: 8px;
}

.content {
    background-color: rgb(242, 242, 242);
}

.card-header {
    padding: 8px;
    border-bottom: 1px solid rgb(161, 181, 253);
}

.blog-post {
    padding: 8px;
    border-bottom: 1px solid darkgray;
}

.large-card .card-header {
    width: 33%;
}

.w3-opacity,
.w3-hover-opacity:hover {
    opacity: 0.60
}

.custom-button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #ccc;
}

a:visited,a:link .custom-button {
    color: black;
}

.nav {
    border-right: 1px solid darkgray;
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}